apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80        # البورت اللي هيشتغل عليه ال-Service
      targetPort: 80  # البورت داخل ال-Pod
  type: ClusterIP    # لو عايز من بره الكلاستر استخدم LoadBalancer أو NodePort

